{% extends 'base.html' %} {% block head %}
<title>Bi-Section Solver</title>
{% endblock %} {% block body %}

<h1 style="text-align: center">Bi-Section Solver</h1>


<div class="form">
    <form action="/calcbisec" method="POST">

        <center>
            <p>
                <h4>Eqn:<br><input type="text" name="beqn" id="content1"></p>
            <p>+ve:<br><input type="text" name="a" id="content2"></p>
            <p>-ve:<br><input type="text" name="b" id="content3"></p>
            <p>Approx.<br><input type="text" name="btol" id="content4"></p>
            </h3>
            <p><input type="submit" value="Calculate" style="width:100px;height:60px;"></p>
<!-- <img src="https://hitwebcounter.com/counter/counter.php?page=7202749&style=0007&nbdigits=5&type=page&initCount=0" title="User Stats" Alt="webcounterwebsite"   border="0" > -->

    </form>


    <div class="row">
        <br> {{table|safe}}
        <br>
        <form action="/" method="POST"><input type="submit" value="Home" style="width:100px;height:60px;">
        </form>
        </center>
    </div>
    
    {% endblock %}
