{% extends 'base.html' %} {% block head %}
<title>Newton Solver</title>
{% endblock %} {% block body %}

<h1 style="text-align: center">Newtons's Method Solver</h1>


<div class="form">
    <form action="/num/calcnewton" method="POST">

        <center>
            <p>
                <h4>Eqn:<br><input type="text" name="neqn" id="content1"></p>
            <p>X0:<br><input type="text" name="x0" id="content2"></p>
            <p>Approx:<br><input type="text" name="napprox" id="content3"></p>
            </h4>
            <p><input type="submit" value="Calculate" style="width:100px;height:60px;"></p>
<!-- <img src="https://hitwebcounter.com/counter/counter.php?page=7202749&style=0007&nbdigits=5&type=page&initCount=0" title="User Stats" Alt="webcounterwebsite"   border="0" > -->

    </form>


    <div class="row">
        <br> {{ntable|safe}}
        <br>
        <form action="/num" method="POST"><input type="submit" value="Home" style="width:100px;height:60px;">
        </form>
        </center>
    </div>
    
    {% endblock %}
