{% extends 'base.html' %} {% block head %}
<title>Secant Solver</title>
{% endblock %} {% block body %}

<h1 style="text-align: center">Secant's Method Solver</h1>


<div class="form">
    <form action="/calcsecant" method="POST">

        <center>
            <p>
                <h4>Eqn:<br><input type="text" name="seqn" id="content1"></p>
            <p>X0:<br><input type="text" name="sx0" id="content2"></p>
            <p>X1:<br><input type="text" name="sx1" id="content2"></p>
            <p>Approx:<br><input type="text" name="sapprox" id="content3"></p>
            </h4>
            <p><input type="submit" value="Calculate" style="width:100px;height:60px;"></p>
<!-- <img src="https://hitwebcounter.com/counter/counter.php?page=7202749&style=0007&nbdigits=5&type=page&initCount=0" title="User Stats" Alt="webcounterwebsite"   border="0" > -->

    </form>
    
    
    <div class="row">
        <br> {{stable|safe}}
    </div>
    <form action="/" method="POST"><input type="submit" value="Home" style="width:100px;height:60px;">
    </form>
</center>

    {% endblock %}
